*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.categories-dropdown, .authors-dropdown{
  width: 100%;
  border-radius: 5px;
  height: 35px;
  border-color: #bdbdbd;
  color: #868686;
  padding-left: 8px;
}

.categoryErrorMsg{
  text-align: left;
  font-size: 14px;
  color: red;
}